/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 10, 2023, 4:16:40 PM
    Author     : xuant
*/

.header{
    height: 130px;
    background-image: linear-gradient(0, rgb(113, 144, 200), rgb(40, 97, 204));
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}


.header__navbar-list{
    list-style: none;
    padding-left: 0;
    /* margin-top: 4px; */
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    margin-left: 8px;
    position: relative;
    min-height: 26px; 
    /* neu la so le thi kieu gi cung lech 1 px */
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    margin-left: 8px;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding: 4px 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;

}

.header__navbar-user-menu::before{
    z-index: 0;
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent; 
    border-style: solid;

}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 16px;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid rgba(0,0,0,0.1);
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
    z-index: 1;
}
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
    z-index: 1;
}




.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}
.header__navbar-item--separate{
    margin-right: 8px;
}


.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon{
    /* can giua 2 icon so voi chu ket noi, phai lay het */
    display: inline-flex;
    align-items: center;

}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255, .7);
    cursor: pointer;
}

.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item-link:nth-child(1){
    /* margin-left: 6; */
}


.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 8px;
}

.header__navbar-item--strong{
    font-weight: 400;
}

/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease .5s;
}

.header__qr::before{
    /* cau noi giua qr va tai */
    /* neu ko co cau noi thi 130% se bi ho ra 1 doan, khong di chuot de hien qr code dc */
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    /* background-color: aquamarine; */
}


.header__qr-img{

}
.header__qr-apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 15px;
    width: 80px;
    margin-bottom: 5px;
}
.header__qr-link{

}
.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 0px;
}
.header__qr-link:nth-child(3){
    margin-left: 11px;
}


.header__notify{
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    animation: headerNotityGrowth ease 0.3s;
    transform-origin: calc(100% - 32px) top;
    /* cai tren la thay vi animation tam o gia thi no se bat
    dau o goc giua */
    /* cal la vi neu kich thuoc thay doi thi se bi lech nen de cal de khong bi lech */
    display: none;
    will-change: opacity, transform;
}
.header__notify::before{
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent; 
    border-style: solid;
    /* cai hinh tam giac */
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 20px;
    /* cau noi de ko bi mat cai thong bao */
    /* background-color: red; */
}



.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-link:hover{
    background-color: #f7f7f7
}

.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.05);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.05);
    width: 100%;
}
.header__notify-img{
    width: 44px;
    /* object-fit: contain; */
    height: 44px;
    border-radius: 5px;
     
}
.header__notify-info{
    margin-left: 12px;
    align-items: flex-start;
}
.header__notify-name{
    display: block;
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 5px;
    
}
.header__notify-description{
    display: block; 
    font-size: 1.2rem; 
    line-height: 1.5rem; 
    color: #756f6e; 
    
}
.header__notify-footer{
    text-align: center;
    padding: 10px 10px;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    display: block;
}





/* authen */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    margin: auto;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 400;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
}

.auth-form__input{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border:1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls .btn:first-child{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials-facebook
.auth-form__socials-icon{
    color:  var(--white-color);
}
.auth-form__socials-google{
    background-color: var(--white-color);
}

.auth-form__socials-icon{

}

.auth-form__socials-title{
    /* margin: 0 20px; */
    padding-left: 10px;
}

/* auth login */



.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -2px 16px 0;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width:150px;
    filter: brightness(130%);
}


.header__search{
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    /* position: relative; */
}
.header__cart{
    width: 150px;
    text-align: center;
    /* position: relative; */
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: inline-block;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: 50px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
/* has product */
.header__cart-heading{
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    /* ul mac dinh co padding */
    padding: 0;
    list-style: none;
    overflow-y: auto;
    /*auto khi nhieu qua thi se tao ra thanh cuon 
    y thi chi doi voi truc doc, neu ko xet thi hien ra thanh ngang neu dai*/
    max-height: 56vh; /*khi man hinh nho thi gio hang se ko bi che mat,
     no se tu rut gon lai 56%*/
}

.header__cart-item{
    display: flex;
    align-items: center;
    
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    overflow: hidden;
    max-height: 4rem;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;

}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);

}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #f05d41;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 8px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img{
    width: 54%  ;
    display: none;
}
.header__cart-list-no-cart-msg{
    display: block;
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice{
    position: absolute;
    top: -4px;
    right: 60px;
    padding: 1px 6px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    background: var(--white-color);
    border: 2px solid #ee4d2d;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%; 
    height: 100%;
    border: none;
    outline: none;
    font-size:  1.4rem;
    color:  var(--text-color);
    padding: 0 16px;
    border-radius: 2px;


}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    padding: 6px 0;
}


.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 16px;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    margin: 0px 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    cursor: pointer;
}
.header__search-btn:hover{
    background-color: #fb6445;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-select:hover .header__search-option{
    display: inline-block;
}


.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 2px #ccc;
    /* overflow: hidden; */
    /* nhug thang con ko borderadius bi tran ra ngoai thi dung
    oveflow */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 3px;
    /* text-align: right; */
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item i{
    display: inline-block;
}

.header__search-input:focus ~.header__search-history{
    display: block;
}

/* Search history */
.header__search-history{
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 3px #666;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header__search-history-item{
    padding: 0 12px;
    height: 38px;
}
/* .header__search-history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */

.header__search-history-item:hover{
    background-color: #fafafa;

}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* App container */
.app__container{
    background-color: #f3f3f3;
    
}

.app__content{
    padding-top: 36px;  
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category-item{
    position: relative;
    display: flex;
}

.category-item img{
    width: 20%;
}

.category-item + .category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 26px;
}

.category__heading{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-top: 0;
    text-transform: uppercase;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
    display: block;
}

.category-list{
    padding-left: 0;
    list-style: none;
    margin-left: 9px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 7px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item{
    margin-bottom: 10px;
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}
/* Homw sort + filter */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}


.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
    background-color: var(--white-color); 
    transition: background-color ease 0.3s;
}
.home-filter__btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;

}

.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn:first-child{
    border-right:1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product-item */
.home-product{
    margin-bottom: 10px;
}



.home-product-item{
   display: block;
   text-decoration: none;
   position: relative;
   background-color: var(--white-color);
   margin-top: 10px;
   border-radius: 2px;
   box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
   transition: transform linear 0.1s;
}

.home-product-item:hover{
   box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
   transform: translateY(-1px); 
}

.home-product-item__img{
    padding-top: 100%; /*tuong doi voi cai chua no*/
    background-size: contain; 
    background-repeat: no-repeat;
    /* background-position: center;  dung khi anh qua dai*/
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px; /*top (trai phai) bottom*/
    height: 3.6rem; /*de gioi han 2 dong chu*/
    /* tao dau 3cham */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: #f63d30;
    /* phai dung i. vi fontasome co thuoc tinh uu tien la inline-block */
}
.home-product-item__liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 0.7rem;
    margin:2px 0 0 auto;
    color: #d5d5d5;

}
.home-product-item__star--gold{
    color: #ffce3e;
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;

}

.home-product-item__origin{
    display: flex;
    /* justify-content: space-between; */
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
}
.home-product-item__brand{
    margin-right: auto;
}
.home-product-item__origin-name{
    /* margin-left: auto; */
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);

}


.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 39px;
    height: 32px;
    background-color: rgba(255,216,64,0.92);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-style: solid;
    border-width: 0 20px 6px;
    border-color: transparent rgba(255,216,64,0.92) transparent rgba(255,216,64,0.92);
}

.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}

/* Footer */
.footer{
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1 8px 0 0;
}

.footer-item__link:hover{
    color: var(--primary-color );
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 80px;
    height: 80px;
    /* object-fit: contain; tranh truong hop anh keo dai doc theo cross axis */
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    flex: 1;
    margin-left: 16px;
}

.footer__download-app-img{
    height: 16px;
}

.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer__bottom{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 24px;
}

.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}

/* --------------------Single Product----------------- */
.single-product{
    font-size: 2rem;
    line-height: 3rem;
}


.single-product__btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.single-product__btn:hover{
    background: #563434;
}

/* .single-product{
    margin-top: 80px;
} */

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img{
    width: 100%;
    padding: 10px 0;
}


.single-product__rating {
    display: flex;
    align-items: center;
  }

  .single-product__rating .fas.fa-star {
    font-size: 1rem;
  }


  /* -------------------Cart-------------------- */
  
.cart-page{
    margin: 20px auto;
    background-color: #fff;
    font-size: 1.8rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: var(--primary-color);
    font-weight: normal;
    opacity: 0.85;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid var(--primary-color);
    /* set readonly */
    /* pointer-events: none; */
    text-align: center;
}

td input[type="submit"]{
    color: var(--white-color);
    width: auto;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

td input[type="submit"]:hover{
    opacity: 0.8;
    transform: scale(1.05);
    
}

td a{
    color: #ff523b;
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid var(--primary-color);
    width: 100%;
    max-width: 460px;
}
th:last-child{
    text-align: right;
}

td:last-child{
    text-align: right;
}
.total-price{
    font-size: 1.5rem;
}

form span {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    font-weight: 700;
    color: var(--primary-color);
  }



.total-price table tr td form input[type="text"], select{
    width: 250px;
    height: 25px;
    padding-left: 10px;
    border: 1px solid var(--primary-color);
    /* set readonly */
    /* pointer-events: none; */
    text-align: center;
}
